{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>오버워치 패치노트</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/patch_app.css' %}">
</head>
<body>
{% for patch_note in patch_notes %}
	<h1>{{ patch_note.title }}</h1>
	<p>{{ patch_note.subject }}</p>
	<p>{{ patch_note.text }}</p>
	<p>{{ patch_note.patch_date }}</p>
{% endfor %}

{% for test_patch_note in test_patch_notes %}
	<h1>{{ test_patch_note.title }} {{ test_patch_note.patch_date }}</h1>
	<p>{{ test_patch_note.subject }}</p>
	<p>{{ test_patch_note.text }}</p>
{% endfor %}
</body>
</html>